.nav {
    height: 71px;
    box-shadow: 0px 1px 8px #888888;
    display: flex;
    align-items: center;
}

.logo {
    height: 71px;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    visibility: hidden;
}

.components {
    margin: 0 0 0 800px;
}

.navigation>a {
    float: left;
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

.navigation>a:hover {
    color: #c4c4c4;
}

@media only screen and (max-width: 1024px) {
    .components {
        margin: 0 0 0 450px;
    }

}

@media only screen and (max-width: 768px) {
    .icon {
        visibility: visible;
    }

    .components {
        visibility: hidden;
    }
}
